<% wrap_layout :layout do %>
  <article>
    <div class="container">
      <div class="large-column"><%= article_tags(current_page) %></div>
      <div class="small-column"><%= article_date(current_page) %></div>
    </div> 
    <h1 class="article-title"><%= current_page.title %></h1>
    <%= yield %>
  </article>
<% end %>
